@import "tailwindcss";

@layer base {
  body {
    font-family: 'Sarabun', 'Inter', sans-serif;
  }
  
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  
  .font-sarabun {
    font-family: 'Sarabun', sans-serif;
  }
}
